server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/debugfixer/spring-config-repo/tree/main
          default-label: main
          clone-on-start: true
